@model _20_MVC_Assignment_01.Models.Person

<div>
    <h4>Followers</h4>

    @if (Model.Person1.Count() == 0)
    {
        <h5 class="text-error">No Followers</h5>
    }
    else
    {
        <ul>
            @foreach (var item in Model.Person1)
            {
                <li>
                    @Html.DisplayFor(modelItem => item.fullName)
                </li>
            }
        </ul>
    }
</div>
<hr />
<div>
    <h4>Following</h4>
    @if (Model.People.Count() == 0)
    {
        <h5 class="text-error">No Following</h5>
    }
    else
    {
        <ul>
            @foreach (var item in Model.People)
            {
                <li>
                    @Html.DisplayFor(modelItem => item.fullName)
                </li>
            }
        </ul>
    }
</div>
<p>
    @Html.ActionLink("Back to Home", "Index", "TwitterHome", null, null)
</p>
