@using _20_MVC_Assignment_01.Models
@model TweetViewModels
<h4>What are you doing?</h4>
<div class="row">
    <div class="form-group">
        @using (Html.BeginForm("Tweet", "TwitterHome", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.TextAreaFor(a => a.Message, 5, 100, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            <div>
                <input type="submit" value="Tweet" />
            </div>
        }
    </div>
</div>

